*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{ 
    background-color: hsl(0, 0%, 83%);
    text-align: center;
    padding: 25px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{ 
    display: block;
    clear: both;
    background-color:hsl(0, 0%, 15%);
    text-align: center;
    padding: 25px;

}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}










.navbar{ 
    background-color: hsl(0, 0%, 15%);

}
.navbar a,footer a{
    color: aliceblue;
    text-decoration: none;
    padding: 25px;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
.navbar a:hover, footer a:hover{
    background-color: hsl(0, 0%, 10%) ;
}